<div class="mainContainer">
  <div class="playground">
    <div [@melt]="meltingState">
      <i class="fa-solid fa-snowman" [@jump]="jumpState" #snowman></i>
    </div>
    <i class="fa-solid fa-fire" [@fire]="fireState" #fire></i>
  </div>
</div>
<hr />
<div class="buttonContainer">
  <button
    class="btn btn-success"
    (click)="onStart()"
    [disabled]="isAnimationGoing"
  >
    Start
  </button>
  <button class="btn btn-primary" (click)="onJump()" [disabled]="isGameover">
    Jump
  </button>
</div>

<div
  class="gameover"
  *ngIf="isGameover && showingDiv"
  (click)="onClose()"
></div>
<div class="gameover-p" *ngIf="isGameover && showingDiv">
  <i class="fa-solid fa-circle-xmark" (click)="onClose()"></i>
  <p><span> GAME OVER</span></p>
</div>
