.mainContainer {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.playground {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  height: 100px;
  width: 300px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonContainer button {
  margin-left: 40px;
  margin-right: 40px;
}

.fa-fire {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  font-size: 15px;
  position: absolute;
  top: 135px;
}

.fa-snowman {
  font-size: 40px;
  position: relative;
  left: 50px;
}

.gameover {
  position: fixed;
  left: 0;
  top: 0;
  width: 97vw;
  height: 97vh;
  background-color: rgba(39, 39, 39, 0.5);
  z-index: 0.95;
}

.gameover-p {
  width: 40%;
  height: 20%;
  background-color: #fff;
  color: red;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 1;
}

/* jojo alla fine muore (non sei l'unico che lascia messaggi segreti) */
